@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    background-color: #2b2b2b;
    color: #ffffff;
}

.title-main {
    display: flex;
    justify-content: center;
    font-family: "Roboto", serif;
    margin-top: 5px;
    font-size: 25px;
}

.navbar {
    padding: 0.5rem;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #757575;
    border-radius: 5px;
    text-align: center;
    transition:
    width 2s,
    height 2s,
    background-color 1s,
    rotate 1s;
}
.navbar a:hover {
    opacity: 0.5;
    rotate: 5deg;
}

.container {
    width: 300px;
    margin: 0 auto;
}

.input-group {
    margin: 20px 0;
}

div label {
    font-family: "Roboto", serif;
    font-weight: 600;
}

textarea {
    border-top: 1px solid #696969;
    background-color: #505050;
    color: #ffffff;
    border-radius: 5px;
    max-width: 310px;
    min-width: 310px;
}

textarea[placeholder] {
    padding: 5px;
    font-family: "Roboto", serif;
}

#userEmail {
    background-color: #505050;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #505050;
    color: #ffffff;
    font-family: "Roboto", serif;
}

button {
    padding: 10px 20px;
    border: none;
    font-family: "Roboto", serif;
    border-radius: 5px;
    background-color: #505050;
    cursor: pointer;
    color: #ffffff;
}

button:hover {
    background-color: #696969;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.result {
    margin-top: 20px;
    padding: 20px;
    background-color: #696969;
    border-radius: 5px;
    font-family: "Roboto", serif;
}