@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#body {
  display: flex;
}

#navbar {
  width: 25%;
  padding: 0.5rem;
  background-color: #2b2b2b;
  border-right: 2px solid black;
}

#conversation-list div {
  display: flex;
  
}

#conversation-list div button{
  max-width: 200px;
  max-height: auto;
  border: none;
  background-color: #414141;
  border: 1px solid #fff;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Roboto", serif;
  font-weight: 600;
}

#conversation-list div button:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#chat {
  font-family: "Roboto", serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 80%;
  margin: 0;
  padding-top: 20px;
  background-color: #2b2b2b;
  color: #ffffff;
}

#container {
  align-items: center;
}

#chat-container {
  width: 600px;
  border: 1px solid #696969;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chat-box {
  height: 600px;
  overflow-y: scroll;
  background-color: #505050;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.3px;
  padding: 10px;
}

#messages {
  display: flex;
  flex-direction: column;
}

#input-bar {
  display: flex;
  flex-direction: row;
}

#user-input {
  width: calc(100% - 60px);
  padding: 10px;
  border: none;
  border-top: 1px solid #696969;
  background-color: #505050;
  color: #ffffff;
  letter-spacing: 0.3px;
  font-family: "Roboto", serif;
  font-weight: 600;
}

#send-button,
#new-chat-button {
  width: 65px;
  border: none;
  background-color: #007bff;
  border: 1px solid #fff;
  color: white;
  cursor: pointer;
  font-family: "Roboto", serif;
  font-weight: 600;
}

#send-button:hover,
#new-chat-button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
