#body {
  display: flex;
}

#navbar {
  width: 20%;
  padding: 0.5rem;
  background-color: #2b2b2b;
  border-right: 2px solid black;
}

#chat {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 80%;
  margin: 0;
  padding-top: 20px;
  background-color: #2b2b2b;
  color: #ffffff;
}

#container {
  align-items: center;
}

#chat-container {
  width: 600px;
  border: 1px solid #696969;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chat-box {
  height: 600px;
  overflow-y: scroll;
  background-color: #505050;
  color: #ffffff;
  padding: 10px;
}

#messages {
  display: flex;
  flex-direction: column;
}

#input-bar {
  display: flex;
  flex-direction: row;
}

#user-input {
  width: calc(100% - 60px);
  padding: 10px;
  border: none;
  border-top: 1px solid #696969;
  background-color: #505050;
  color: #ffffff;
}

#send-button,
#new-chat-button {
  width: 65px;
  border: none;
  background-color: #007bff;
  border: 1px solid #fff;
  color: white;
  cursor: pointer;
}

#send-button:hover,
#new-chat-button:hover {
  background-color: #0056b3;
}
